[form] {
    padding: 5px; 
    -moz-box-sizing:border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
    font-family: din-next-lt-pro, sans-serif;
} 
[form] input[type=text],[form] input[type=email], [form] select { 
    width: 100%; 
    font-size: 24px; 
    border: 1px solid #bbb; 
    border-radius: 10px;
    height: auto; 
} [form] .sib-default-btn { 
    width: 100%;
    padding: 6px 12px; 
    color:#fff; 
    background-color: #333; 
    border-color: #2E2E2E; 
    font-size: 24px; 
    font-weight:400; 
    line-height: 1.4285; 
    text-align: center; 
    cursor: pointer; 
    vertical-align: middle; 
    -webkit-user-select:none; 
    -moz-user-select:none; 
    -ms-user-select:none; 
    user-select:none; 
    white-space: normal; 
    border:1px solid transparent; 
    border-radius: 10px; 
} [form] .sib-default-btn:hover { 
    background-color: #FF3F22; 
} [form] p{ 
    margin: 10px 0 0 0; 
}
[form] .form-nl-container {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 16px;
        width: 100%;
        align-items: center;
}
[form] input[type=text],
[form] input[type=email],
[form] select {
        grid-column: 1 / span 2;
}
[form] .sib-default-btn {
        grid-column: 3 / span 1;
}
@media (max-width: 700px) {
    [form] .form-nl-container {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    [form] input[type=text],
    [form] input[type=email],
    [form] select,
    [form] .sib-default-btn {
        width: 100%;
        grid-column: auto;
    }
}